@font-face {
	font-family: 'BebasNeue-webfont';
	src: url('../font/BebasNeue-webfont.eot');
	src: local('☺'), url('../font/BebasNeue-webfont.woff') format('woff'), 
	url('../font/BebasNeue-webfont.ttf') format('truetype'), 
	url('../font/BebasNeue-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
		font-family: verdana, arial, helvetica, sans-serif;
		background-position: 0 0;
		background-color: #fff;
		margin: 0;
		padding: 0;
		text-align: left;
		position: relative;
}



a:link {
		
		font-family: 'BebasNeue-webfont',verdana, arial, helvetica, sans-serif;
		text-decoration: none;
		font-size: 18px;
		color: #011689;		
}

a:hover {

		font-family: 'BebasNeue-webfont',verdana, arial, helvetica, sans-serif;
		text-decoration: none;	
		font-size: 18px;
		color: #eee;	
}

a:visited {

		font-family: 'BebasNeue-webfont',verdana, arial, helvetica, sans-serif;
		text-decoration: none;
		font-size: 18px;
}


img, a img { border: 0; outline: 0; }


ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#wrapper { 
		   width: 1200px;
		   margin: 0 auto; 
		   border: 2px solid #f57200; 
		  -webkit-box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
		  -moz-box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
		   box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
		   border-top: none; 
}



/*****HEADER*****/

.header {
	width: 1200px;
	position: relative;
	background-color: #ccc;
	background-image: url(../images/header-bg.png)

}

.logo{
	position: absolute;
	width: 140px;
	height: 79px;
	margin-top: 13px;
	margin-left: 35px;
}

#nav{
	position: relative;
	width: 1000px;
	font-family: arial, verdana, helvetica, sans-serif;
    font-size: 18px;
	display: inline-block;
    margin-left: 200px;
    margin-top: 45px;
    z-index: 100;
}

#nav-wrapper{
	/* width: 1200px; */
	margin: 0 auto;
	text-align: left;
}

#nav-wrapper a:link{
	color: #f57200;
}

#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1;
}

#nav ul li{
	display: inline-block;
	margin-right: 13px;
}


/***hover-color***/

#nav ul li a,visited{
	color: #f57200;
	display: block;
	padding: 15px;
	text-decoration: none;
}


.header-separator{
	width: 1200px;
	height: 5px;
	background-color: #e7e8ed;
	margin-top: -8px;
}


/**-------- slider -------**/

.slider {
	position: relative;
	width: 1200px;
	height: 395px;
}




/**-------- products-container -------**/


.contents-products-container{
	
	width: 1200px;
	margin-top: 70px;
	
}



/**-------- left-contents and Accordion-------**/

.left-content{
	float: left;
	width: 175px;
	background-color: #f5f5f5;
	border: 2px solid #7c7b7b;
	border-radius: 4px;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;  /**-------- controls the height of the index page -------**/
	z-index: 99;
}

h2 {
	font-size: 13px;
	margin-left: 13px;
}

.panel {
	display: block;
	font-size: 12px;
}

.panel a:link{
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 13px;
	color: #f57200;
}

.panel a:hover{
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 13px;
	color: #db1111;
}

.panel ul {
	list-style-image: url(../images/arrow-blue.png);
	margin-left: 10px;
}

button.accordion {

    background-color: #f57200;	  /*** background color***/
    color: #fff;     			 /*** main text color***/
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    border: 1px solid #fff;
    text-align: left;
    outline: none;
    font-size: 13px;        /**font size of accordion**/
    transition: 0.2s;
}

button.accordion.active, button.accordion:hover {

    background-color: #f57200; /**background hover color of accordion**/
}

button.accordion:after {
    content: '\02795';
    font-size: 11px;
    float: right;
    margin-left: 5px;        
    background-color: #fff;   /***plus bg color***/
}

button.accordion.active:after {
    content: "\2796";
}


div.panel {
    padding: 0 10px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}

.sophos-iframe {
	width: 175px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #f57200;	  /*** background color***/

}

.sophos-iframe ul li a {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
	margin-left: 10px;
}




/**-------- right-contents home products -------**/

.home-summary {
	width: 1000px;
	padding-top: 1px;
	margin-left: 200px;
}

.home-summary ul li{
	display: block;
	font-family: verdana,  arial,  helvetica, sans-serif;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
}

.home-summary ul li a{
	font-family: verdana,  arial,  helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #f57200;
}

.home-summary ul li a:hover{
	color: #777;
}

.home-products{      /**------- Home Products Container -----------**/
	float: left;
	width: 1000px;
	margin-top: -8px;
	margin-left: 8px;
	
}

.home-products ul li{
	float: left;
	display: inline-block;
	margin-right: 4px;
	margin-left: 2px;
	border: 2px solid #7c7b7b;
}

.column-1 ul li{
	margin-top: 10px;
	border-radius: 4px;
}

.column-2 ul li{
	margin-top: 10px;
	border-radius: 4px;
}


.column-3 ul li{
	margin-top: 10px;
	border-radius: 4px;
}

.column-4 ul li{
	margin-top: 10px;
	border-radius: 4px;
}

.column-5 ul li{
	margin-top: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
}


.column-6 ul li{
	margin-top: 2px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.sophos-advert {
	position: relative;
	width: 1175px;
	height: 150px;
	border-radius: 5px;
	border: 1px solid #023b80;
	margin-top: 700px;
	margin-left: -185px;
	z-index: -1;
}




/**-------- SOPHOS PAGE -------**/


.sophos-sub-head{
	position: relative;
	width: 300px;
	height:20px;
	background-color: #0092E0;
	margin-top: 20px;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	margin-left: 10px;
	padding-top: 3px;
	padding-left: 10px
}


/**-------- ABOUT PAGE -------**/

.about-us{      /**------- Home Products Container -----------**/
	float: left;
	width: 920px;
	margin-left: 23px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 2px solid #777;
	border-radius: 7px;
}


.about-us-content{
	width: 920px;
}

.about-us-content ul li{
	font-family: verdana,  arial,  helvetica, sans-serif;
	font-size: 12px;
	line-height: -15px;
	color: #424242;
	margin-top: 7px;
	text-align: justify;
}

h3 {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 17px;
	color: #424242;
	margin-bottom: 4px;
	padding-top: 8px;
}

.core-list{
	font-family: verdana,  arial,  helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}

.dotted {
	list-style: disc;
}


/**-------- OUR BRANDS -------**/

.about-summary {
	width: 980px;
	padding-top: 1px;
	margin-left: 200px;
	font-family: verdana,  arial,  helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	padding-top: 8px;
	padding-bottom: 20px;
}

.about-summary ul li a{
	font-family: verdana,  arial,  helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #f57200;
}

.about-summary ul li a:hover{
	color: #777;
}



/**-------- Ubiquiti More Products -------**/


.more-ubiquiti-products {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: blue;
	border-radius: 50px;
	font-weight: bold;
	margin-left: 800px;
	margin-top: 20px;
}

.ubiquiti-link-text {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	text-align: center;
	margin-left: 2px;
	padding-top: 8px;
}


/**-------- EPSON PROJECTOR PAGE -------**/

.projectors-container {
	float: left;
	width: 1000px;
	margin-top: 1px;
	margin-left: 10px;
}

.brand-head {
	width: 950px;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 22px;
	color: #fff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #f57200; 
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.Epson-Projectors {
	margin-top: 20px;
	margin-left: 20px;
}

.Epson-Projectors ul li{
	display: inline-block;
	margin-top: 15px;
	margin-right: 38px;
}

.Epson-Projectors p {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	color: #f57200;
	margin-left: 20px;
}

.Epson-Projectors p a {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	color: #f57200;
}

.Epson-Projectors p a:hover {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	color: #db1111;
}




/**-------- EPSON PROJECTOR MODEL -- Heres the Summary and Description of the projector -------**/



.summary-head {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 22px;
	color: #f57200;
}


.product-summary {
	float: left;
	width: 425px;
	margin-left: 8px;
	padding-bottom: 10px;
}


.product-summary ul li { /** this gives spacing to the summary elements***/
	display: block;
	margin-top: 30px;
}


.summary-content {		/** font size and appearance for summary elements***/
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	color: #000;

}

.summary-content ul li { /** specifies the height of the text***/
	display: block;
	text-align: left;
	list-style: disc;
	margin-top: 15px;
	margin-left: 12px;
}


.products-more-info a {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #f57200;
}

.products-more-info a:hover {
	color: #db1111;
}

.product-slide {
	float: right;
	width: 350px; 
	height: 175px;
	margin-top: 100px;
	margin-right: 100px;
	padding-bottom: 10px;
}

/**-------- MARSHALL TUFFLEX COLOR OPTION -------**/

.marshall-tufflex-color{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
}

.marshall-tufflex-color ul li {
	width: 20px;
	display: inline;
	text-decoration: none;
	padding-top: 20px;
}

 .clear{clear:both;}



/**-------- PARTNER PORTAL -------**/

.company_description {
	margin-top: 50px;
	padding-bottom: 40px;
}

.date-container {
	padding-bottom: 40px;
}

.DOBMonth {
	float: right;
	margin-right: 37px;
}

.link-sales {
	color: #f57200;
}



/**-------- CONTACT US PAGE -------**/

h1{
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 24px;
	color: #424242;
	margin-top: 10px;
	margin-left: 20px;
}

.contact-us{
	float: left;
	width: 920px;
	margin-left: 23px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border: 2px solid #777;
	border-radius: 7px;
}

.contact-sub-heading{
	width: 600px;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	margin-top: -10px;
	margin-left: 20px;
	padding-bottom: 9px;
}

.contact-sub-heading ul li{
	margin-top: 30px;
}

.red-heading{
	color: #e70505;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
}

/****SOPHOS TRAINING PAGE****/

.sophos-training-banner{
	width: 620px;
	margin-top: 20px;
	padding-bottom: 10px;
	font-weight: bold;

}

.sophos-training-head{
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 22px;
	color: #fff;
	margin-top: -70px;	
	margin-left: 23px;
}

.event-date {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 14px;
	color: #f87731;
	margin-top: -15px;	
	margin-left: 25px;
}

.forms {
	width: 600px;
	margin-top: 5px;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	border: 1px solid #0364a4;
	background-color: #027ac8;
	padding: 20px;
}

.forms label { 
   line-height: 30px;
}

.forms input {
	float: right;
	border-radius: 5px;
}

.forms textarea {
	float: right;
	border-radius: 5px;
}

.forms input[type=text],.forms select, textarea {
	padding: 8px;
	border:1px solid transparent;
	margin-bottom: 10px;
}

.forms textarea { 
   width: 500px;
   height: 60px;
}


.form-group { clear: both; }

.msg_wrap div, .msg_wrap p.success { padding: 6px 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-bottom: 12px; color: #000 }
.msg_wrap div { background-color: #f8eded; border:1px solid #daa8a8; color: #000; }
.msg_wrap p.success { background-color: #e8f7f4; border:1px solid #bdc3c7; }
.msg_wrap div span { color: #9a4343; font-weight: bold; }
.msg_wrap p.success span { color: #f4ac48; font-weight: bold; }
#contact_form .itextfield.ierror, #contact_form .itextarea.ierror { border-color: #9a4343; background-color: #f4e5e5; color: #9a4343; }
#partner_portal .itextfield.ierror, #partner_portal .itextarea.ierror { border-color: #9a4343; background-color: #f4e5e5; color: #9a4343; }



/**-------- FILE UPLOAD BUTTON -------**/

input[type=submit] {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 15px;
	color: #fff;
	padding: 4px 4px; 
	background: #027ac8;
	border: 2px solid #fff;
    cursor:pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    margin-right: 350px;
}

input[type=reset] {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 15px;
	color: #fff;
	padding: 4px 4px; 
	background: #027ac8;
	border: 2px solid #fff;
    cursor:pointer;
   -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-right: -135px;

}


/**-------- ADDRESS BOX -------**/

.address-box{
	float: right;
	width: 260px;
	height: 335px;
	margin-top: -375px;
	margin-right: -7px;
	border: 1px dotted #777;
	padding: 5px;
}

.address-box ul li {
	display: block;
	font-family:  verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	margin-top: 10px;
	padding-left: 4px;
}

.address-line-separator {
	border: 1px dotted #ccc;
	margin-top: 8px;
	padding-top: 1px;

}

h5{
	margin-top: 10px;
	margin-bottom: -5px;
	padding-left: 4px;
}


/**-------- FOOTER -------**/

 .footer {
 	width: 1200px;
 	height: 50px;
	margin: auto;
 	margin-top: 10px;
 	background-color: #f57200;
 }

 .footer-nav {
 	width: 800px;
 	margin-left: 210px;
 }

.footer-nav ul li {
	display: inline-block;
	margin-left: 2px;
	padding-top: 20px;
	font-family: 'BebasNeue-webfont', verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
}

.footer-nav ul li a {
	font-family: 'BebasNeue-webfont', verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
}

.footer-nav ul li a:hover {
	font-family: 'BebasNeue-webfont', verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	color: #fff;
}

.footer-nav ul li a:visited {
	font-family: 'BebasNeue-webfont', verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	color: #fff;
}


.footer-nav ul li img {

	padding-left: 10px;
}

.copy-right {
	margin-top: -17px;
	margin-left: 588px;
	font-family: 'BebasNeue-webfont', verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
}


.social-media {
	float: right;
	margin-top: -23px;
	margin-right: 223px;
}

.social-media ul li {
	display: inline-block;
	margin-left: 5px;
}
